body {
	font-family: Arial
}

h1 {
	font-size: 26pt;
	font-weight: bold;
	width: 800px;
}
h2 {
	font-weight: bold;
	width: 800px;
}

a:link {
	color: #01796F;
	font-size: 12pt;
}

a:visited {
	color: #01796F;
	font-size: 12pt;
}

p {
	width: 800px;
}

hr {
	width: 900px;
	height: 2px;
	margin-left: 0px;
	background-color: #01796F;
	color: #01796F;