body {
	font-family: Arial
}
h1 {
	color: #01796F;
	font-size: 26pt;
	font-weight: bold;
}

a:link {
	background-color: #01796F;
	color: white;
	font-size: 20pt;
	padding: 16px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:visited {
	background-color: #01796F;
	color: white;
	font-size: 20pt;
	padding: 16px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	background-color: #01796F;
	color: white;
	font-size: 20pt;
	padding: 16px 27px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
}