body {
	font-family: Arial
}

h1 {
	font-size: 26pt;
	font-weight: bold;
}
h2 {
	font-weight: bold;
}

a:link {
	color: #01796F;
	font-size: 12pt;
}

a:visited {
	color: #01796F;
	font-size: 12pt;
}

hr {
	height: 2px;
	margin-left: 0px;
	background-color: #01796F;
	color: #01796F;
}
